@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700;800;900&display=swap');

$CremeBackground: rgb(244,242,240);
$Orange: #F5A04B;
$LightOrange: #fed74c;

$ComponentBorderRadius: 12px;